<div class="text-center">
    <h1 id="naslov"> Naslov</h1>
    <h5 id="naslov_linija"> ______________________________________ </h5>  
  </div>
  
  <div>
    <table class="table1">
      <tr>
       <td class="col1">
          <img src="https://i.ytimg.com/vi/F0eYP0KxnIc/hqdefault.jpg" class="img-rounded" width="400" height="400">
      </td>
      <td class="col2"> 
        <p class="opis">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pulvinar aliquam leo. Praesent accumsan faucibus ex, vel ullamcorper mi ultrices sollicitudin. Sed nec interdum arcu. Nullam tortor est, vestibulum nec venenatis eget, congue sed purus. Nam maximus augue a suscipit fermentum. Integer eget bibendum neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque maximus enim risus, in ullamcorper massa lacinia sit amet. Curabitur sed dolor dui. Duis cursus augue id vehicula viverra. Phasellus vel lacus in lorem ullamcorper dignissim pharetra at dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer semper volutpat risus sed fringilla. Duis varius eros justo, in eleifend justo fringilla a. Maecenas iaculis vehicula felis sit amet ullamcorper. Cras auctor eget orci sit amet aliquet.</p>
      </td>
      </tr>
      
    </table>
  </div>
  
  <div>
      <table class="table1">
        <tr>
           <td class="col1">
           <p class="hclass">Ocjena 5.0</p>
           <br>
           </td>
           <td class="col2"> 
              <span class="input-group-addon" id="basic-addon2">Ocjeni</span>
           </td>
        </tr>
        <tr>
            <td class="col1">
            </td>
           <td class="col2"> 
              <div class="table-responsive">  
                  <table class="table2">
                    <tr class="row1">
                      <th>Komentar     </th>
                      <th>Autor        </th>
                    </tr>
                    <tr class="row1">
                       <td>
                       <p>Najbolji event u gradu, jedva cekam!</p>
                       <br>
                       </td>
                       <td>
                       <p>Selma Selma!</p>
                       </td>
                    </tr>
                    <tr class="row1">
                        <td>
                        <p>Ideeeemoool!</p>
                        <br>
                        </td>
                        <td>
                        <p>Ajdin Ajdo!</p>
                        </td>
                     </tr>
                     <tr class="row1">
                        <td>
                        <p>Predobroo!</p>
                        <br>
                        </td>
                        <td>
                        <p>Haris Hare!</p>
                        </td>
                     </tr>
                  </table>
                </div>
                <br>
            
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Komentar" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2">Pošalji</span>
                  </div>
            
                  <br>
            
           </td>
           </tr>
        
      </table>
    </div>
  
    
