<!--<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="font-size: 25px">E v e n t s</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-left: 10%;">
      <ul class="nav navbar-nav">
        <li><a routerLink="/muzika">Muzika<span class="sr-only">(current)</span></a></li>
        <li><a routerLink="/kultura">Kultura</a></li>
        <li><a routerLink="/sport">Sport</a></li>
        <li><a routerLink="/zabava">Zabava</a></li>
        <li><a routerLink="/nauka">Nauka</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="#">Profil</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Admin opcije <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/admin-useri">Korisnici</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"> Novi događaj </a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="/admin-lokacija"> Lokacije </a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"> Nova kategorija </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">E v e n t s</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/muzika">Muzika
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/kultura">Kultura</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sport">Sport</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/zabava">Zabava</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Admin opcije
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/admin-useri">Korisnici</a>
              <a class="dropdown-item" href="#">Novi događaj</a>
              <a class="dropdown-item" routerLink="/admin-useri">Lokacije</a>
              <a class="dropdown-item" href="#">Nova kategorija</a>
            </div>
          </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/zabava">Profil</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>