<div *ngIf="event">
    <div class="text-center">
        <h1 id="naslov"> {{ event.name }}</h1>
        <h5 id="naslov_linija"> ______________________________________ </h5>  
      </div>
      
      <div>
        <table class="table1">
          <tr>
           <td class="col1">
              <img src="https://i.ytimg.com/vi/F0eYP0KxnIc/hqdefault.jpg" class="img-rounded" width="400" height="400">
          </td>
          <td class="col2"> 
            <p class="opis"> {{ event.description }} </p>
          </td>
          </tr>
          
        </table>
      </div>
      
      <div>
          <table class="table1">
            <tr>
               <td class="col1">
               <p class="hclass">Ocjena {{ averageGrade }}</p>
               <br>
               </td>
               <td class="col2"> 
                <div class="form-group">
                  <label for="hitnost" class="col-form-label">Ocjeni:</label>
                  <select class="form-control" id="hitnost" [(ngModel)]="odabranaOcjena" name="ocjene">
                    <option *ngFor="let p of ocjene" [value]="p.id">{{p.name}}</option>
                  </select>
                  <span type="button" class="input-group-addon" id="basic-addon2">Ocjeni</span>
                </div>
               </td>
            </tr>
            <tr>
                <td class="col1">
                </td>
               <td class="col2"> 
                 <!--Tabela Komentari-->
                  <div class="table-responsive" >  
                      <table class="table2">
                        <tr class="row1">
                          <th>Komentar     </th>
                          <th>Autor        </th>
                        </tr>
                        <tr class="row1" *ngFor="let com of comments, let i = index" [class.selected]="com === selectedComment">
                           <td>
                           <p>{{com.comment}}</p>
                           </td>
                           <td>
                           <p>{{com.user.username}}</p>
                           </td>
                        </tr>

                      </table>
                    </div>
                    <br>
                
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Komentar" [(ngModel)]="noviKomentar" aria-describedby="basic-addon2">
                      <span type="button" class="input-group-addon" id="basic-addon2" (click)="createComment()">Pošalji</span>
                    </div>
                
                      <br>
                
               </td>
               </tr>
              
          </table>
        </div>
    </div>
      
        
    