<div class="text-center">
  <div class="jumbotron">
    <h1>Korisnici</h1>
  </div>

  <div class="card" style="width: 40rem;" *ngFor="let user of users">
      <img class="card-img-top" src="assets/user.svg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ user.username }}</h5>
        <p class="card-text">{{ user.ime + ' ' + user.prezime }}</p>
        <button (click)="openUserDetails(user)" class="btn btn-primary pregledaj-profil">Pregledaj profil</button>
        <button (click)="deleteUser(user)" class="btn btn-primary">Obriši korisnika</button>
      </div>
  </div>
</div>

