<button class="btn btn-default" type="submit" data-toggle="modal" data-target="#exampleModal">Dodaj novu lokaciju</button>

<div class="text-center">
    <div class="jumbotron">
        <h1>Lokacije</h1>
    </div>

    <div class="panel panel-default" style="width: 1000px; margin-left: 10%;">
        <div class="panel-heading">
            <h3 class="panel-title">Hardkodirani naziv</h3>
        </div>
        <div class="panel-body" style="height: 200px;">
            <h6>Opis neki nesto blaa blaaa</h6>
            <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#exampleModal1">Više informacija</button>
            <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#exampleModal2">Uredi</button>
            <button class="btn btn-default" type="submit">Obriši</button>
        </div>
    </div>

    <div class="panel panel-default" style="width: 1000px; margin-left: 10%;" *ngFor="let place of places">
        <div class="panel-heading">
            <h3 class="panel-title">{{place.name}}</h3>
        </div>
        <div class="panel-body" style="height: 200px;">
            <h6>{{place.description}}</h6>
            <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#exampleModal1" (click)="prikaziDetalje(place)">Više informacija</button>
            <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#exampleModal2" (click)="prikaziDetalje(place)">Uredi</button>
            <button class="btn btn-default" type="submit">Obriši</button>
        </div>
    </div>
        
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"> Dodaj novi objekat(lokaciju): </h3>
            </div>
            <div class="modal-body">
                 <form>
                    <div class="form-group">
                       <label for="recipient-name" class="col-form-label"> Naziv objekta: </label>
                        <input type="text" class="form-control" id="naziv_objekta" [(ngModel)]="objekat_name" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="detalji_zahtjev" class="col-form-label">Opis:</label>
                        <textarea class="form-control" id="opis_objekta" style="height: 150px" [(ngModel)]="objekat_description" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Adresa:</label>
                        <br>
                        <select class="form-control" id="hitnost">
                            <option>Lista adresa</option>
                        </select>
                    </div>
                    <!--<div class="form-group">
                        <label for="recipient-name" class="col-form-label">Adresa:</label>
                        <br>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" [(ngModel)]="wayOfResponseTelefon" [ngModelOptions]="{standalone: true}">Telefon</label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="" [(ngModel)]="wayOfResponseEmail" [ngModelOptions]="{standalone: true}">E-mail</label>
                    </div>-->
                 <!--   <div class="form-group">
                        <label for="hitnost1" class="col-form-label">Adresa:</label>
                        <select class="form-control" id="hitnost1" [(ngModel)]="odabraniPrioritet1" name="priorities">
                            <option *ngFor="let p of prioritetii" [value]="p.id">{{p.name}}</option>
                        </select>
                    </div>-->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn_modal_usluga" data-dismiss="modal">Zatvori</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"  id="btn_podnesi_zahtjev" (click)="kreirajObjekat()">Dodaj objekat(lokaciju)</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"> Informacije o objektu </h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Naziv:</label>
                      <input type="text" class="form-control" id="naziv_usluga" value="{{ modal_naziv }}" disabled> 
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Opis:</label>
                      <textarea class="form-control" id="opis_usluga" value="{{ modal_opis }}" disabled></textarea>
                    </div>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Adresa:</label>
                      <input type="text" class="form-control" id="cijena_usluga" value="{{ modal_adresa }}" disabled>
                    </div>
                  </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn_modal_usluga" data-dismiss="modal">Zatvori</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"> Izmjeni: </h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Naziv:</label>
                      <input type="text" class="form-control" id="naziv_usluga" value="{{ modal_naziv }}" [(ngModel)]="objekat_name" [ngModelOptions]="{standalone: true}"> 
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Opis:</label>
                      <textarea class="form-control" id="opis_usluga" value="{{ modal_opis }}" [(ngModel)]="objekat_description" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Adresa:</label>
                      <input type="text" class="form-control" id="cijena_usluga" value="{{ modal_adresa }}">
                    </div>
                  </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn_modal_usluga" data-dismiss="modal">Zatvori</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"  id="btn_podnesi_zahtjev" (click)="sacuvajIzmjenePlace()">Sačuvaj izmjene</button>
            </div>
        </div>
    </div>
</div>